<% provide(:title, 'The Team') %>
	<div class="row">
		<div class="span12">
			<div class="span5 well">
				<div class="span1 thumbnail">
    				<%= image_tag("Lucy.jpg", alt: "Lucy") %>
				</div>
				<h4 class="connection">Lucy Swedberg</h4>
				<h4>Chief Executive Officer</h4>
				<p>Carroll School of Management 2009 - 2013<br>
			</div>
			<div class="span5 well">
				<div class="span1 thumbnail">
    				<%= image_tag("vinod.jpg", alt: "Vinod") %>
				</div>
				<h4 class="connection">Vinod Paluri</h4>
				<h4>Chief Financial Officer</h4>
				Carroll School of Management 2009 - 2012<br>
			</div>
		</div>
		<div class="span12">
			<div class="span5 well">
				<div class="span1 thumbnail">
    				<%= image_tag("ben.jpg", alt: "Ben") %>
				</div>
				<h4 class="connection">Benjamin Bates</h4>
				<h4>Chief Technical Officer</h4>
				Carroll School of Management 2009 - 2012<br>
			</div>
			<div class="span5 well">
				<div class="span1 thumbnail">
    				<%= image_tag("erin.jpg", alt: "Erin") %>
				</div>
				<h4 class="connection">Erin Burke</h4>
				<h4>Head of New Business Development</h4>
				Carroll School of Management 2009 - 2012<br>
			</div>
		</div>
		<div class="span12">
			<div class="span5 well">
				<div class="span1 thumbnail">
    				<%= image_tag("John.jpg", alt: "John") %>
				</div>
				<h4 class="connection">John Byrne</h4>
				<h4>Head of Product Development</h4>
				Carroll School of Management 2008 - 2012<br>
			</div>
			<div class="span5 well">
				<div class="span1 thumbnail">
    				<%= image_tag("deepta.jpg", alt: "Deepta") %>
				</div>
				<h4 class="connection">Deepta Dhami</h4>
				<h4>Head of Marketing and User Engagement</h4>
				Carroll School of Management 2010 - 2012<br>
			</div>
		</div>
	</div>